body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    width: 100%;
}
nav{
    width: 100%;
    background-color: black;
    height: 80px;
    line-height: 80px;
    padding:0px px ;
    display: flex;
    justify-content: space-between;
}
.logo a{
    
    font-size: 30px;
    color: red;
    font-weight: bold;
    margin-left: 40px;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
ul{
    margin: 0px;
    margin-right: 50px;
}
ul li{
    
    color: white;
    float: left;
    padding: 0px 10px;
    list-style: none;
    padding-left: 60px;
}
ul li a:hover{
    color: red;
}
.header {
    background-image: url(https://png.pngtree.com/back_origin_pic/05/08/57/5856717a0f844fdff628e57a2adf3fd0.jpg);
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    height: 100vh;
}
.content {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;

}
.content h1{
    font-size: 50px;
    cursor: pointer;
 }
.content h1 a {
    font-size: 20px;
}
 button{
    border-color: white;
    border: solid;
     width: 150px;
     height: 30px;
     color:white;
     background: none;
     /* background-color: white; */
     border-radius: 20px;
     cursor: pointer;
     font-size: 15px
     
 }

 button:hover{
    color:white;
    background-color: green;
 }